// Colors
$color-white: white;
$color-black: #020203;
$color-primary: #e60000;
$color-grey: #74798c;

// Main Styles
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;

  padding: 0;
  margin: 0;
}

#root {
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-size: 48px;

  span {
    color: $color-primary;
  }
}

p span {
  font-weight: 600;
  color: $color-primary;
}

a {
  text-decoration: none;
}
