.container {
  height: calc(
    100vh - 232px
  ); // 232px is the (height + padding top&bottom) of the <Header /> + the (width + padding) of the <Sidebar />

  overflow-y: auto;

  padding: 68px 107px;
  margin-left: 120px;
}
