// Main Stylesheet
@use "src/index" as mainStyles;

// 'Sidebar' Styles
#sidebar {
  position: fixed;

  width: 120px;
  height: calc(
    100vh - 95px - 32px
  ); // viewport height - (header height + padding top & bottom) - sidebar padding bottom

  display: grid;
  justify-content: center;
  align-items: center;

  color: mainStyles.$color-white;
  background-color: mainStyles.$color-black;

  padding-bottom: 32px;
  margin-top: 95px;

  nav {
    display: grid;
    justify-content: center;
  }

  footer {
    white-space: nowrap;

    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}
