.today-message {
  font-size: 18px;
}

.graph-section {
  display: flex;
  justify-content: space-between;

  margin-top: 77px;

  .chart-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
